/* changing colors of side, top nav and other pages */
/* Home */
/* topnav */
/* SideNav */
/* topButt */
/* body */
/*ProjectsMainContent*/
html {
  font-family: 'Roboto', sans-serif;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden; }

h1 {
  font-size: small; }

body {
  background-color: #f0f7f4; }

footer {
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid black;
  display: block;
  float: right;
  bottom: 0; }

/*generic container*/
.Project .Container, .Skills .Container {
  display: inline-block;
  width: 100%;
  text-align: center; }

.flexbox-horiz {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* generic inner container for project */
.Project .Container .InnerCont {
  display: inline-block;
  border: 1px solid black; }
  .Project .Container .InnerCont img {
    max-width: 100%;
    max-height: 200px;
    display: inline-block; }
  .Project .Container .InnerCont .InnerCont {
    display: flex;
    column-count: 2;
    column-width: 50%; }
  .Project .Container .InnerCont .Emp {
    text-align: center;
    word-wrap: break-word;
    width: 500px; }
  .Project .Container .InnerCont ul {
    list-style: none; }
  .Project .Container .InnerCont p {
    text-align: left; }

/*horizontal container*/
.flexboi-horiz {
  display: flex;
  flex-direction: row; }

/*generic bar*/
.Project .Banner {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  height: 1.5rem; }

/*generic column*/
/* This is the persistent Navbar */
.topnav {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center; }
  .topnav ul {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: auto;
    background-color: #72D5A5;
    overflow: hidden;
    height: 100%; }
  .topnav li {
    display: inline-block;
    margin-left: -5px; }
  .topnav a {
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    transition: .3s ease-in, background-color .5s;
    background-color: #72D5A5;
    color: black; }
  .topnav a:hover {
    background-color: #38BC7D; }

/* Generic top up button */
.Project .topButt {
  height: 50px;
  width: 80px;
  z-index: 2;
  border: 1px solid transparent;
  border-radius: 5%;
  top: 90%;
  left: 80%;
  cursor: pointer;
  background-color: #E9ECEA; }

/* Generic Side Nav */
.Project .SideNav, .Skills .SideNav {
  height: 100%;
  width: 10%;
  position: fixed;
  display: inline-block;
  z-index: 1;
  text-align: center;
  transition: left 1s;
  overflow: hidden;
  top: 0%;
  left: -200px;
  background-color: #72D5A5; }
  .Project .SideNav ul, .Skills .SideNav ul {
    padding: 0;
    margin: 0; }
    .Project .SideNav ul li a, .Skills .SideNav ul li a {
      display: block;
      text-decoration: none;
      padding: 20px;
      color: black;
      transition: background-color .5s; }

/* this is the home page main content*/
.home {
  background-color: #a2e3c4; }
  .home .topnav li:nth-child(1) a:nth-child(1) {
    background-color: #38BC7D; }
  .home .HomeMainContent {
    position: relative;
    display: block;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    word-wrap: break-word; }
    .home .HomeMainContent img {
      display: inline-block;
      position: relative;
      max-width: 500px;
      max-height: 502px;
      border: 1px;
      border-radius: 0.25rem; }
    .home .HomeMainContent .Info {
      height: inherit;
      position: absolute;
      display: inline-block;
      background-color: lightgrey; }
      .home .HomeMainContent .Info h1 {
        position: relative;
        text-align: center;
        top: 10%; }
      .home .HomeMainContent .Info p {
        position: relative;
        padding: 0 5%;
        top: 10%; }
    .home .HomeMainContent footer {
      background-color: #c6538c; }

.Project {
  position: absolute; }
  .Project .stopper {
    display: block;
    background-color: yellow; }
  .Project .topnav li:nth-child(2) a:nth-child(1) {
    background-color: #38BC7D; }
  .Project .topButt {
    position: sticky;
    border: 0;
    padding: 0;
    transition: background-color .5s; }
  .Project .topButt:focus {
    background-color: dimgrey;
    outline: none; }
  .Project .topButt:active {
    background-color: #c6538c; }
  .Project .topButt:hover {
    background-color: dimgrey; }
  .Project .ProjectsMainContent {
    position: block;
    display: flex;
    width: 100%;
    word-wrap: break-word;
    column-count: 4; }
    .Project .ProjectsMainContent .Column {
      padding: 1%;
      margin: 1%;
      width: 25%;
      text-align: center;
      background-color: #A2E3C4;
      border-radius: 1rem; }
      .Project .ProjectsMainContent .Column img {
        display: inline-block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        transition: opacity .3s ease-out, transform .3s ease-out; }
      .Project .ProjectsMainContent .Column img:hover {
        transform: scale(0.95);
        opacity: .5; }
      .Project .ProjectsMainContent .Column h1 {
        margin: auto;
        text-align: center;
        border-top: black solid 1px;
        border-bottom: black solid 1px; }
      .Project .ProjectsMainContent .Column h2 {
        margin: auto; }
  .Project .Banner {
    padding-top: 1.0%;
    float: right; }
  .Project .Container {
    background-color: #A2E3C4;
    border: 1px solid transparent;
    width: 90%;
    float: right;
    margin: 2% 0;
    padding-bottom: 1%; }
    .Project .Container .InnerCont {
      border: 1px solid transparent;
      background-color: #A2E3C4;
      border-radius: 1%;
      padding: 0 1%; }
      .Project .Container .InnerCont .Emp {
        border: 1px solid transparent;
        border-radius: 2%;
        background-color: #E9ECEA;
        margin: 1%;
        padding: 1%;
        border: none; }
  .Project .SideNav {
    bottom: 50%; }
    .Project .SideNav ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .Project .SideNav a {
      border: none; }

.Skills .topnav li:nth-child(3) a:nth-child(1) {
  background-color: #38BC7D; }
.Skills .Container {
  display: block;
  width: 100%;
  text-align: left;
  border: 1px solid black;
  margin-left: .2rem;
  margin-right: .5rem; }
  .Skills .Container li {
    display: inline-block;
    padding: 1%;
    margin-left: .5rem; }
  .Skills .Container div {
    margin-left: .2rem;
    margin-top: .2rem; }
.Skills h1 {
  padding-top: 1%;
  text-align: center; }
.Skills h2 {
  margin-left: .5rem; }
.Skills p {
  margin-left: .5rem; }

/*# sourceMappingURL=style.css.map */
